<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="control-group" th:fragment="sized-input(field, fieldSize, label, labelSize, required)" th:classappend="${#fields.hasErrors(field)} ? 'has-error'">
<!-- 		<label th:class="${'__${labelSize}__'} +' control-label'"> -->
		
		<label class="control-label">
			<span th:text="${label}">Label</span>
			<sup th:if="${required}" class="text-danger">*</sup>
		</label> 
<!-- 				<div th:class="${'__${fieldSize}__'}"> -->
		
		<div class="controls">
				<input th:field="*{__${field}__}" type="text" class="input-xlarge" /> 
				<span data-th-if="${#fields.hasErrors(field)}" class="help-block" data-th-errors="*{__${field}__}">Error message</span>
		</div>
	</div>

</body>
</html>