<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div class="control-group" th:fragment="sized-input(field, fieldSize, label, labelSize, required)" th:classappend="${#fields.hasErrors(field)} ? 'has-error'">
<!-- 		<label th:class="${'__${labelSize}__'} +' control-label'"> -->
		
		<label class="control-label">
			<span th:text="${label}">Label</span>
			<sup th:if="${required}" class="text-danger">*</sup>
		</label> 
<!-- 				<div th:class="${'__${fieldSize}__'}"> -->
		
		<div class="controls">
				<input th:field="*{__${field}__}" type="text" class="input-xlarge" /> 
				<span data-th-if="${#fields.hasErrors(field)}" class="help-block" data-th-errors="*{__${field}__}">Error message</span>
		</div>
	</div>
	
	<div class="control-group" th:fragment="sized-readonly-input(field, fieldSize, label, labelSize)" th:classappend="${#fields.hasErrors(field)} ? 'has-error'">
		
		<label class="control-label">
			<span th:text="${label}">Label</span>
		</label> 
		
		<div class="controls">
				<input th:field="*{__${field}__}" type="text" class="input-xlarge" readonly ="readonly" /> 
				<span data-th-if="${#fields.hasErrors(field)}" class="help-block" data-th-errors="*{__${field}__}">Error message</span>
		</div>
	</div>

<div th:fragment="textarea (field, label, rows, readonly)">
		<div class="form-group">
			<label for="description" class="control-label"><span th:text="${label}"></span></label> 
			<textarea th:if="${readonly}" class="form-control" th:rows="${rows}"  th:field="*{__${field}__}" readonly="readonly"></textarea>
			<textarea th:unless="${readonly}" class="form-control" th:rows="${rows}"  th:field="*{__${field}__}"></textarea>
		</div>
	
	</div>
	
		<div th:class="${'__${baseSize}__'} +' form-group'"  th:fragment="sized-languageselector (baseSize, labelSize, innerSize, field)">
		<label th:class="${'__${labelSize}__'} +' control-label'" th:text="#{general.language}">Language</label>
		<div th:class="${'__${innerSize}__'}">
		<select data-th-field="*{__${field}__}" class="form-control" id="filter">
			<option data-th-value="*{T(hu.unideb.inf.rft.nvkshop.entities.security.Language).EN}" data-th-text="#{language.english}">English</option>
			<option data-th-value="*{T(hu.unideb.inf.rft.nvkshop.entities.security.Language).HU}" data-th-text="#{language.hungarian}">Hungarian</option>
		</select>
		</div>
	</div>
</body>
</html>