<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-fragment="head">
<title data-th-text="#{application.title}">NVK-shop</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link data-th-href="@{/resources/images/favicon.png}" href="../../images/favicon.png" type="image/png" rel="shortcut icon" />
<link data-th-href="@{/resources/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"></link>
<link data-th-href="@{/resources/css/bootstrap-theme.min.css}" href="../../css/bootstrap-theme.min.css" rel="stylesheet"></link>
<link data-th-href="@{/resources/css/bootstrap-responsive.min.css}" href="../../css/bootstrap-responsive.min.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/bootstrappage.css}" href="../../themes/css/bootstraprappage.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/flexslider.css}" href="../../themes/css/flexslider.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/main.css}" href="../../themes/css/main.css" rel="stylesheet" />
<link data-th-href="@{/resources/css/toastr.min.css}" href="../../css/toastr.min.css" rel="stylesheet"></link>
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"></link>
</head>
<body>
	<form th:action="@{/registration.html}" data-th-object="${registrationRequestForm}" class="form-stacked"  method="post">
		<div
			th:replace="fragments/navbar :: top-bar"></div>
		<div id="wrapper" class="container">


			<!-- 			<section class="header_text sub"> -->
			<!-- 				<br /> -->
			<!-- 			<img class="pageBanner" src="themes/images/pageBanner.png" alt="New products" /> -->
			<!-- 				<h4> -->
			<!-- 					<span data-th-text="#{titles.registration}">Regsiter</span> -->
			<!-- 				</h4> -->
			<!-- 			</section> -->
			<section class="main-content">
				<div class="row">
					<div class="span12">
						<h4 class="title">
							<span class="text"><strong>Register</strong> Form</span>
						</h4>
						<fieldset>
							<div
								th:replace="fragments/inputs :: sized-input(field='userName',  fieldSize='col-sm-3', label=#{registration.userName}, labelSize='col-sm-2', required=true)"></div>
							<!-- 									<div class="row"> -->
							<div
								th:replace="fragments/inputs :: sized-input(field='firstName',  fieldSize='col-sm-3', label=#{registration.firstName}, labelSize='col-sm-2', required=true)"></div>
							<div
								th:replace="fragments/inputs :: sized-input(field='lastName',  fieldSize='col-sm-3', label=#{registration.lastName}, labelSize='col-sm-2', required=true)"></div>
							<!-- 									</div> -->
							<div
								th:replace="fragments/inputs :: sized-input(field='phoneNumber',  fieldSize='col-sm-3', label=#{registration.phoneNumber}, labelSize='col-sm-2', required=false)"></div>

							<div
								th:replace="fragments/inputs :: sized-input(field='email',  fieldSize='col-sm-3', label=#{general.email}, labelSize='col-sm-2', required=true)"></div>

							<div class="control-group" th:classappend="${#fields.hasErrors('password')} ? 'has-error'">
								<label class="control-label"> <span th:text="#{general.password}">Password</span> <sup class="text-danger">*</sup>
								</label>
								<div class="controls">
									<input th:field="*{password}" type="password" class="form-control" id="psw" /> <span data-th-if="${#fields.hasErrors('password')}"
										class="help-block" data-th-errors="*{password}">Error message</span>
								</div>
							</div>
							<div class="control-group" th:classappend="${#fields.hasErrors('passwordConfirm')} ? 'has-error'">
								<label class=" control-label"> <span th:text="#{registration.passwordConfirm}">Password Comfirm</span> <sup
									class="text-danger">*</sup>
								</label>
								<div class="controls">
									<input th:field="*{passwordConfirm}" type="password" class="form-control" id="pswAgain" onChange="checkPasswordMatch();" /> <span
										data-th-if="${#fields.hasErrors('passwordConfirm')}" class="help-block" data-th-errors="*{passwordConfirm}">Error message</span>
								</div>
							</div>
							<div class="actions">
								<button tabindex="9" class="btn btn-inverse large" type="submit" th:text="#{registration.submit}"></button>
							</div>
							
						</fieldset>
					</div>
				</div>
			</section>
		</div>
		
	</form>	

</body>
<script type="text/javascript" data-th-src="@{/resources/themes/js/jquery-1.7.2.min.js}" src="themes/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/superfish.js}" src="themes/js/superfish.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/jquery.scrolltotop.js}" src="themes/js/jquery.scrolltotop.js"></script>
<script type="text/javascript" data-th-src="@{/resources/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/js/toastr.min.js}" src="js/toastr.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/common.js}" src="themes/js/common.js"></script>

</html>