<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>NVK-shop : Purchase registered</title>
</head>
<body>
	<table style="border-bottom:1px dotted #aaa;border-collapse:collapse;width:100%"><tbody>
		<tr>
			<td><span style="font-size:x-large;font-variant:small-caps">NVK-shop vásárlás</span></td>
		</tr>
	</tbody></table>
	<h3 data-th-inline="text">Tisztelt ${userName}</h3>
	<p>
		A vásárlását sikeresen rögzítettük.
	</p>
	<p>
		<table>
			<tr>
				<th>#</th>
				<th>Termék neve</th>
				<th>Mennyiség</th>
				<th>Ár</th>
			</tr>
			<#list items as item>
			<tr>
				<td>${item?counter}.</td>
				<td style="width:20%">${item.product.name}</td>
				<td>${item.quantity}</td>
				<td>${item.product.price}</td>
			</tr>
			</#list>
						<tr>
				<td/>
				<td/>
				<td>Teljes ár:</td>
				<td>${totalPrice}</td>
			</tr>
		</table>
	</p>
	<p>
		Sincerelly,<br />
		NVK-Shop team
	</p>
</body>
</html>