<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-fragment="head">
<title data-th-text="#{application.title}">NVK-shop</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
<link data-th-href="@{/resources/images/favicon.png}" href="../../images/favicon.png" type="image/png" rel="shortcut icon" />
<link data-th-href="@{/resources/css/bootstrap.min.css}" href="../../css/bootstrap.min.css" rel="stylesheet"></link>
<link data-th-href="@{/resources/css/bootstrap-theme.min.css}" href="../../css/bootstrap-theme.min.css" rel="stylesheet"></link>
<link data-th-href="@{/resources/css/bootstrap-responsive.min.css}" href="../../css/bootstrap-responsive.min.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/bootstrappage.css}" href="../../themes/css/bootstraprappage.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/flexslider.css}" href="../../themes/css/flexslider.css" rel="stylesheet" />
<link data-th-href="@{/resources/themes/css/main.css}" href="../../themes/css/main.css" rel="stylesheet" />
<link data-th-href="@{/resources/css/toastr.min.css}" href="../../css/toastr.min.css" rel="stylesheet"></link>
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css"></link>
</head>
<body>
	<form th:action="@{/admin/product.html}" data-th-object="${productForm}" class="form-stacked" enctype="multipart/form-data" method="post">

		<!-- 		<div -->
		<!-- 			th:replace="fragments/navbar :: top-bar"></div> -->
			<div
			th:replace="fragments/navbar :: top-bar"></div>
		<div id="wrapper" class="container">
			<div
			th:replace="fragments/navbar :: inner-bar"></div>

	
			<h4 th:text="#{titles.product}">Product</h4>


			<section class="main-content">
				<div class="row">
					<div class="span6">
						<fieldset>
							<div
								th:replace="fragments/inputs :: sized-input(field='name',  fieldSize='col-sm-6', label=#{general.name}, labelSize='col-sm-4', required=true)"></div>
							<div
								th:replace="fragments/inputs :: sized-input(field='price',  fieldSize='col-sm-6', label=#{product.price}, labelSize='col-sm-4', required=true)"></div>
							<div
								th:replace="fragments/inputs :: sized-input(field='onStock',  fieldSize='col-sm-6', label=#{product.onStock}, labelSize='col-sm-4', required=false)"></div>

							<div th:replace="fragments/inputs :: textarea(field='description',  label=#{general.description}, rows=5 , readonly='false' )"></div>
						</fieldset>


					</div>


					<div class="span6">
						<div th:if="*{isNew == true} and *{selectedCategoryId != null}" th:class="form-group">
							<select th:field="*{selectedCategoryId}" class="form-control input-sm" id="filter">
								<option th:each="category : *{subCategories}" th:value="${category.id}" th:text="${category.name}"></option>
							</select>
						</div>
						<div th:unless="*{isNew == true}" th:class="form-group">
							<div
								th:replace="fragments/inputs :: sized-readonly-input(field='category.name',  fieldSize='col-sm-3', label=#{category.name}, labelSize='col-sm-2')"></div>
							<input type="hidden" th:field="*{id}"></input>

						</div>
						<label th:text="#{product.picture}">Picture</label>
						<div class="form-group col-sm-12" th:if="*{pictureFlag}"
							data-th-class="${#fields.hasErrors('picture')} ? 'form-group has-error' : 'form-group'">
							<img th:src="@{'/admin/product/' + *{id} + '/picture'}" />
							<!-- 									<div> -->
							<!-- 										<input data-th-field="*{picture}" type="file" class="form-control" /> -->
							<!-- 									</div> -->
							<br /> <br /> <a tabindex="0" role="button" class="btn btn-default btn-xs" data-trigger="focus" data-toggle="popover"
								th:attr="data-entity=${id}"><span class="glyphicon glyphicon-trash"></span> <span th:text="#{general.delete}">Delete</span></a>


						</div>
						<div class="col-sm-12" th:if="${pictureFlag == false}"
							data-th-class="${#fields.hasErrors('picture')} ? 'form-group has-error' : 'form-group'">
							<label for="pic" class=" control-label" data-th-text="#{product.picture}">Picture</label> <input data-th-field="*{picture}"
								type="file" class="form-control" /> <span data-th-if="${#fields.hasErrors('picture')}" class="help-block"
								data-th-errors="*{picture}">Error message</span>
							<div data-th-utext="#{validation.fileSize}"></div>
						</div>
					</div>
				</div>
				<br />

				<div class="actions">
					<button th:if="*{isNew == true}" tabindex="9" class="btn btn-inverse large" type="submit" th:text="#{general.add}"></button>

					<button th:unless="*{isNew}" tabindex="9" class="btn btn-inverse large" type="submit" name="save" th:text="#{general.save}"></button>
				</div>
			</section>
		</div>
		<input type="hidden" th:field="*{isNew}"></input>

	</form>

</body>
<script type="text/javascript" data-th-src="@{/resources/themes/js/jquery-1.7.2.min.js}" src="themes/js/jquery-1.7.2.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/superfish.js}" src="themes/js/superfish.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/jquery.scrolltotop.js}" src="themes/js/jquery.scrolltotop.js"></script>
<script type="text/javascript" data-th-src="@{/resources/js/bootstrap.min.js}" src="js/bootstrap.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/js/toastr.min.js}" src="js/toastr.min.js"></script>
<script type="text/javascript" data-th-src="@{/resources/themes/js/common.js}" src="themes/js/common.js"></script>
<script data-th-if="${successMsg}" data-th-inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		toastr.success([[#{${successMsg}}]], [[#{general.toastrSuccess}]]);
	/*]]>*/
	</script>
<script data-th-if="${errorMsg}" data-th-inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		toastr.error([[#{${errorMsg}}]], [[#{general.toastrError}]]);
	/*]]>*/
	</script>
<script data-th-if="${warningMsg}" data-th-inline="javascript" type="text/javascript">
	/*<![CDATA[*/
		toastr.warning([[#{${warningMsg}}]], [[#{general.toastrWarning}]]);
	/*]]>*/
	</script>
<script type="text/javascript" th:inline="javascript">
	$(function(){
		var openPopover = null;
		
		$('body').on('click', function(e) {
		    if (openPopover!=null){
		    	$('[data-toggle="popover"]').popover('hide');
		    	openPopover=null;
		    }
		});
		
		$('[data-toggle="popover"]').popover({
			title: [[#{general.warning}]],
		  	content: '<p>' + [[#{general.deleteConfirm}]] + '</p><div class="text-center"><div class="btn-group"><button id="confirmYesButton" type="button" class="btn btn-danger btn-xs">' + [[#{general.yes}]] + '</button><button id="confirmNoButton" type="button" class="btn btn-default btn-xs">' + [[#{general.no}]] + '</button></div></div>',
		  	container: 'body',
		  	placement: 'top',
		  	trigger: 'manual',
		  	selector: 'data-role="popover"',
			html: true
		}).on('click',function(e) {
			popover = $(this).attr('data-entity');
			
			$entity = $(this).attr('data-entity');
		    if (openPopover==$entity){
		    	// close
		    	openPopover=null;
		    } else {
		    	if (openPopover==null) {
		    		// open
			    	openPopover=$entity;
			    	$(this).popover('toggle');		    	
		    	} else {
		    		// close others, but open a new one
			    	$('[data-toggle="popover"]').popover('hide');
			    	openPopover=$entity;
			    	$(this).popover('toggle');
			    	
			    	
		    	}
		       	$('#confirmYesButton').click(function() {
					location.assign([[@{/admin/deletepicture.html(id)}]]+'='+$entity); });	
					$('#confirmNoButton').click(function() { 	$('[data-toggle="popover"]').popover('hide'); });	
		    	
		    	// a new popover has surely been created
		    	$('.popover').on('click', function(e) {
		    		if (!$(e.target).hasClass('btn')) {
		    			e.stopPropagation();
		    		}
				});
		    }
	    	e.stopPropagation();
	    });
	});
	</script>
</html>