<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
	<meta name="viewport" content="width=device-width, initial-scale=1"></meta>
	<title>NVK-shop : Regisztráció aktiválás</title>
</head>
<body>
	<table style="border-bottom:1px dotted #aaa;border-collapse:collapse;width:100%"><tbody>
		<tr>
			<td><span style="font-size:x-large;font-variant:small-caps">NVK-shop regisztrácó</span></td>
		</tr>
	</tbody></table>
	<h3 data-th-inline="text">Dear ${userName}</h3>
	<p>
	You are successfully registered our webshop. Please follow the link below to activate your registration:	</p>
	<p>
		<a href="${url}">${url}</a>
	</p>
	<p>
		Sincerelly,<br />
		NVK-Shop team
	</p>
</body>
</html>